.custom-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  margin: auto;
  }
  
  .custom-form {
    width: 500px;
    margin: auto;
  }
  
  .custom-button {
    width: 100%;
    margin-top: 10px;
    background-color: rgb(82, 206, 169);
    border-color: rgb(82, 206, 169)
  }

  
  
  div .card{
    width: 600px;
    border-radius: 3%;
    transition: box-shadow 0.3s ease-in-out;
    margin: 70px auto;
  }


  
  .custom-card:hover  {
    box-shadow: 0 0 10px rgb(35, 146, 113);
    background-color: rgb(82, 206, 169);
  }

  .custom-card:hover .custom-button {
    background-color: rgb(31, 29, 29);
    color: rgb(82, 206, 169);
    border-color: rgb(82, 206, 169);
  }

  